window {
	background-color: #212121;
	color: #fafafa;
	border: 1px solid #424242;
	border-radius: 16px;
}

#entry {
	border-left: 1px solid #424242;
	border-right: 1px solid #424242;
}

#entry:nth-child(odd) {
	background-color: #424242;
}

#entry:nth-child(even) {
	background-color: #212121;
}

#entry:selected {
	background-color: #757575;
}

#input {
	background-color: #212121;
	color: #e0e0e0;
	border: 1px solid #424242;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#input:focus {
	border-color: #424242; 
}

