@define-color foreground #f7f7f2;
@define-color background #191919;
@define-color black #353535;
@define-color red #aa0000;
@define-color green #c7da11;
@define-color yellow #eb8b00;
@define-color blue #dc7f75;
@define-color magenta #ca33a9;
@define-color cyan #22afa2;
@define-color white #6c6c6c;
@define-color brblack #585858;
@define-color brred #b41f1f;
@define-color brgreen #cede2e;
@define-color bryellow #ed991f;
@define-color brblue #e08f86;
@define-color brmagenta #d04cb3;
@define-color brcyan #3db9ad;
@define-color brwhite #b9b9b9;

* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font Mono", "Fira Code", Monospace;
    font-size: 13px;
    min-height: 0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 4px;
    color: @foreground;
    border-radius: 13px; 
}

#window,
#workspaces {
    margin: 0 4px;
}

window#waybar {
    background-color: @black;
    border-bottom: 3px solid @brblack;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @foreground;
}
*/

/* window#waybar.termite {
    background-color: @magenta;
}

window#waybar.chromium {
    background-color: @background;
    border: none;
} */

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @background;
    box-shadow: inset 0 -3px @foreground;
}

#workspaces button.focused {
    background-color: @brblack;
    box-shadow: inset 0 -3px @foreground;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @yellow;
    color: @black;
    border-bottom: 3px solid @foreground;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @brblack;
}

#battery {
    background-color: @foreground;
    color: @background;
}

#battery.charging {
    color: @foreground;
    background-color: @green;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @background;
}

#cpu {
    background-color: @cyan;
}

#memory {
    background-color: @brcyan;
}

#backlight {
    background-color: @bryellow;
    color: @black;
}

#network {
    background-color: @brmagenta;
}

#network.disconnected {
    background-color: @magenta;
}

#pulseaudio {
    background-color: @blue;
}

#pulseaudio.muted {
    background-color: @background;
}

#temperature {
    background-color: @brblue;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: @brblack;
}

#idle_inhibitor {
    background-color: @background;
}

#idle_inhibitor.activated {
    background-color: @brblue;
    color: @background;
}

